

body{
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height:1.5;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
    /* removes the default bold from the headers */
    font-weight:400;
    /* removes excess margin space in the h1 and h2 */
    margin:0;
}

h1{
    font-size: 100px;
    /* overrides the 1.5 line-height from the body */
    line-height:1;
}

/* removes the automatic margin around the h2 elements */
h2{
    font-size: 50px;
}

.content-wrap{
    /* sets default width of content inside of container  */
    width:800px;
    text-align: center;
    /* removes top margins */
    margin: 0 auto;
    /* adds padding to the top of the container */
    padding: 60px 0; 
}

header{
    /* color:#1A1B41; */
    /* background-color:#FFD275; */
    text-align: center;
    background: blue;
    color: #F7FFF7;
}

/* styling for the employee cards */

.cards header{
    border-radius: 5% 5% 0 0;
    background: red;
    color: #F7FFF7;
}

/* all cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

/* individual cards */
.card {
    font-weight:800;
    border: solid;
    border-color: #72705B;
    border-radius: 5%;
    box-shadow: 10px 5px 5px grey;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
}

a {
    /* text-decoration: none; */
    padding: 8px;
    line-height:1.5;
}

a:hover{
    /* removes the underline under the links */
    text-decoration: none;
}


